<!DOCTYPE html>
<html>
  <head>
    <title>GoHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", root_path %>
    <%= link_to "New Entry", new_post_path %>

    <%= yield %>
  
  </body>
</html>
